@model mvcOnlineTicariOtomasyon.Models.Classes.Departman

@{
    ViewBag.Title = "DepartmanGetirme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="h3 mb-0 text-gray-800">Departman Güncelleme Sayfası</h1>
<br />

@using (Html.BeginForm("DepartmanGuncelleme", "Departman", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.DepartmanAd)
        @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" })
            @Html.HiddenFor(x => x.DepartmanID)
            <br />

       
    </div>

    <button class="btn  btn-warning">Güncelle</button>

}