@using mvcOnlineTicariOtomasyon.Models.Classes
@model List<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1 class="h3 mb-0 text-gray-800">Kategoriler</h1>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var b in Model)
    {
        <tr>
            <td>
                @b.KategoriID
            </td>
            <td>
                @b.KategoriAd
            </td>
            <td><a href="/Kategori/KategoriSilme/@b.KategoriID" class="btn btn-danger">Sil</a></td>

            <td><a href="/Kategori/KategoriGetirme/@b.KategoriID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>
<a href="/Kategori/KategoriEkleme" style="background-color: #4E72DF; color:white" class="btn btn-default ">Kategori Ekle</a>

